<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Author</title>
	<link rel="shortcut icon" type="image/x-icon" href="../static/images/goat.ico" />
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="/static/js/mobile.js"></script>
</head>
<body>
	<div id="header">
		<a href="/home" class="logo">
			<img src="/static/images/logo2.jpg" alt="">
		</a>
		<ul id="navigation">
			<li>
				<a href="../home">home</a>
			</li>
			<li class="selected">
				<a href="../author">author</a>
			</li>
			<li>
				<a href="../project">project</a>
			</li>
			<li>
				<a href="../demo">demo</a>
			</li>
			<li>
				<a href="../contact">contact</a>
			</li>
		</ul>
	</div>
	<div id="body">
		<h1><span>self introduction</span></h1>
		<div>
			<img src="/static/images/author.jpg" alt="">
			<div class="jasper">
				<h3>Education</h3>
				<p>
					I am Xu Zehao (许泽昊).Now I am a student in School of Control Science and Engineering, Zhejiang University, majoring in <a href="http://cse.zju.edu.cn" title="cse" target="_blank">Automation</a> 
					and minoring in <a href="http://www.itper.org" title="ITP" target="_blank">ITP</a>. I am going to specialize in CS in the future, so I see this course as a golden opportunity
					to enhance my coding ability :)
				</p>
				<h3>Hobbies</h3>
				<p>
					I have a range of hobbies. To be specific, I am fond of rock and folk music and enjoy playing guitar in 
					my free time. Besides, I love landscape photography and <a href="http://cntop507.lofter.com" title="photos" target="_blank">here's my works</a>. I am also a huge animal fan especially for mammals and reptiles.
				</p>
				<h3>Other Information</h3>
				<p>
					This website is still under construction. If you have any recommendation and advice, please feel free to <a href="mailto:244155994@.com?cc=3150104187@zju.edu.cn&subject=advice on website construction">contact me</a>.
				</p>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<p>Copyright &copy; Course Project of Python Programming, 2018</p>
			<ul>
				<li>
					<a href="/contact" id="twitter">twitter</a>
				</li>
				<li>
					<a href="/contact" id="facebook">facebook</a>
				</li>
				<li>
					<a href="/contact" id="googleplus">googleplus</a>
				</li>
				<li>
					<a href="/contact" id="pinterest">pinterest</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
