<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Demo3</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="/static/js/mobile.js"></script>
</head>
<body>
	<div id="header">
		<a href="/home" class="logo">
			<img src="/static/images/logo2.jpg" alt="">
		</a>
		<ul id="navigation">
			<li>
				<a href="/home">home</a>
			</li>
			<li>
				<a href="/author">author</a>
			</li>
			<li>
				<a href="/project">project</a>
			</li>
			<li class="selected">
				<a href="/demo">demo</a>
			</li>
			<li>
				<a href="/contact">contact</a>
			</li>
		</ul>
	</div>
	<div id="body">
		<h1><span>Demo3</span></h1>
        <div>
            <iframe class="video_iframe" style="z-index:1;" src="http://v.qq.com/iframe/player.html?vid=u0683qm34rk&amp;auto=0" allowfullscreen="" frameborder="0"></iframe>
            <div class="jasper">
                <h4>Real-Time Object Detector</h4>
                <p>
                    The SSD caffe model is ready-made and use dnn to call the caffe model. See the python file 
                    <a href="/pyFile" target="_blank">here</a>.
                </p>
            </div>
        </div>
  	</div>
	<div id="footer">
		<div>
			<p>Copyright &copy; Course Project of Python Programming, 2018</p>
			<ul>
				<li>
					<a href="/contact" id="twitter">twitter</a>
				</li>
				<li>
					<a href="/contact" id="facebook">facebook</a>
				</li>
				<li>
					<a href="/contact" id="googleplus">googleplus</a>
				</li>
				<li>
					<a href="/contact" id="pinterest">pinterest</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
