<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Jasper.Hsu's homepage</title>
	<link rel="shortcut icon" type="image/x-icon" href="../static/images/goat.ico" />
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="/static/js/mobile.js"></script>
</head>
<body>
	<div id="header">
		<a href="/home" class="logo">
			<img src="/static/images/logo2.jpg" alt="">
		</a>
		<ul id="navigation">
			<li class="selected">
				<a href="/home">home</a>
			</li>
			<li>
				<a href="/author">author</a>
			</li>
			<li>
				<a href="/project">Project</a>
			</li>
			<li>
				<a href="/demo">demo</a>
			</li>
			<li>
				<a href="/contact">contact</a>
			</li>
		</ul>
	</div>

	<div id="body">
		<div id="featured">
			<img src="/static/images/background2.jpg" alt="background">
			<div>
				<h2>Jasper.Hsu's homepage</h2>
				<span>This website is created to show some really</span>
				<span>simple python projects about computer vision</span>
				<span>and deep learning.</span>
				<br>
				<a href="/project" class="more">learn more</a>
			</div>
		</div>
		<ul>
			<li>
				<a href="/project">
					<img src="/static/images/raspberry.jpg" alt="">
					<span>raspberry-pi</span>
				</a>
			</li>
			<li>
				<a href="/project">
					<img src="/static/images/deeplearning.jpg" alt="">
					<span>deep learning</span>
				</a>
			</li>
			<li>
				<a href="/project">
					<img src="/static/images/face.jpg" alt="">
					<span>computer vision</span>
				</a>
			</li>
		</ul>
	</div>
	<div id="footer">
		<div>
			<p>Copyright &copy; Course Project of Python Programming, 2018</p>
			<ul>
				<li>
					<a href="/contact" id="twitter">twitter</a>
				</li>
				<li>
					<a href="/contact" id="facebook">facebook</a>
				</li>
				<li>
					<a href="/contact" id="googleplus">googleplus</a>
				</li>
				<li>
					<a href="/contact" id="pinterest">pinterest</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
